.account {
    min-height: 100vh;
    background-color: #222222;
}

.container.-account {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 50px;
    background: none;
    border: none;
}

.arrow__stick {
    width: 40px;
    height: 40px;
    position: relative;
}

.arrow__stick::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 40px;
    height: 2px;
    background-color: white;
}

.arrow__stick::after {
    position: absolute;
    top: 25%;
    left: 2px;
    content: '';
    width: 20px;
    height: 20px;
    rotate: -45deg;
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.card-border-wrap {
    width: 560px;
    height: 700px;
    border-radius: 20px;
    padding: 5px;
    background: linear-gradient(80deg, rgba(81,0,255,1), rgba(72,0,120,0.9416141456582633), rgba(0,241,255,1));
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.card {
    width: 550px;
    height: 690px;
    background-color: #222222;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.del {
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background: linear-gradient(80deg, rgba(81,0,255,1), rgba(72,0,120,0.9416141456582633), rgba(0,241,255,1));
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.card__top {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.card__pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.card__nick {
    font-size: 46px;
    color: white;
    margin-left: 20px;
}

.card__plus {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    padding: 0;
}

.plus {
    position: relative;
}

.plus::after {
    position: absolute;
    left: -1px;
    top: -2px;
    content: '';
    width: 41px;
    height: 4px;
    background-color: white;
}

.plus::before {
    position: absolute;
    left: 17px;
    top: -19px;
    content: '';
    width: 4px;
    height: 40px;
    background-color: white;
}

.card__mid {
    width: 100%;
}

.card__midb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    display: none;
}

.input__money {
    background: none;
    color: white;
    border: none;
    border-bottom: 2px solid white;
}

.input__btn {
    background-color: #222222;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    width: 40px;
}

.error-message {
    color: red;
    display: none;
    margin-top: 10px;
}

.card__text, .card__money {
    font-size: 32px;
    color: white;
}

.card__bottom {
    height: 50%;
    width: 100%;
    
}

.card__bottomm {
    display: flex;
    justify-content: space-between;
}

.card__bonus {
    font-size: 32px;
    color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #222222;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
}

.modal__text {
    color: white;
}

.modal__btn {
    color: white;
    background: none;
    border-radius: 20px;
    border: 2px solid white;
    padding: 7px;
}

.selected-bonus {
    font-size: 32px;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}