::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222222;
}

::-webkit-scrollbar-thumb {
    background: rgb(81,0,255);
    background: linear-gradient(0deg, rgba(81,0,255,1) 0%, rgba(72,0,120,0.9416141456582633) 29%, rgba(0,241,255,1) 100%);
    border: 2px solid #222222;
    border-radius: 20px;
}

body, h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    font-family: "Helvetica";
}

body {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}